language: perl
perl:
  - "5.26-shrplib"
  - "5.26"
  - "5.24-shrplib"
  - "5.24-extras"
  - "5.24"
  - "5.22-shrplib"
  - "5.22-extras"
  - "5.22"
  - "5.20-shrplib"
  - "5.20"
  - "5.18-shrplib"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"

branches:
  only:
  - travis

before_install:
    - cpanm IPC::Cmd
    - cpanm Test::Differences
    - cpanm Marpa::R2

# install prerequisites
install:
  # for debugging, output available perls
  - perlbrew list

sudo: false  # faster builds using containers

# build libmarpa and execute tests
script:
  - (make test)

notifications:
  irc: "irc.freenode.net#marpa"
