.gdb_history
/Build
/MANIFEST[.]bak
/MYMETA.json
/MYMETA.yml
/Makefile
/Makefile[.]old
/MarpaX-Hoonlint-[0-9].[0-9][0-9][0-9][0-9][0-9][0-9].tar.gz
/MarpaX-Hoonlint-[0-9].[0-9][0-9][0-9][0-9][0-9][0-9]/
/MarpaX-Hoonlint-[0-9].[0-9][0-9][0-9]_[0-9][0-9][0-9].tar.gz
/MarpaX-Hoonlint-[0-9].[0-9][0-9][0-9]_[0-9][0-9][0-9]/
/_build/
/blib/
/blib_shared/
/hide/
/pod2htmd.tmp
/pod2htmi.tmp
errs
junk
nogit*
pm_to_blib
doit[.]out
test[.]out
